*.fq
*.gfa
*.fasta
p3.sh
*.fa
*.gb
*.sh-backup
*.backup
test-data
make-menus
tool_test_output.html
tool_test_output.json
bioproject_id.txt
bioproject_accession.txt
genes.txt
annotation.bed
DEVELOPMENT.md
trash
nodefile
src/not-used-snippets/
chloroplot
not-used-snippets/
t
ptGAUL.sh
ptGAUL2.sh
build.sh
o
flye.md
flye2.md
geseq.md
trans-spliced-gene.md
single-gene.md
repeats.md

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
